################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/packages
/Test/bin
/Test/obj/Debug
/Test.COM/bin/Debug
/Test.COM/obj/Debug
/.vs
/Test.Console/bin/Debug
/Test.Console/obj/Debug
/Test.DAO/bin/Debug
/Test.DAO/obj/Debug
/Test.sln.DotSettings.user
