@{
    ViewBag.Title = "区块展示";
}

<div class="container">
    <div style="display: flex;">
        <div style="flex: 1;">
            <table class="table">
                <tr class="active">
                    <th>名字</th>
                </tr>
                <tr>
                    <td>彭于晏</td>
                </tr>
                <tr>
                    <td>阮经天</td>
                </tr>
                <tr>
                    <td>赵又廷</td>
                </tr>
                <tr>
                    <td>黄立行</td>
                </tr>
            </table>
        </div>
        <div style="flex: 8; overflow-x: auto;">
            <table class="table">
                <tr class="active">
                    <th>语文</th>
                    <th>数学</th>
                    <th>英语</th>
                    <th>物理</th>
                    <th>化学</th>
                    <th>生物</th>
                    <th>政治</th>
                    <th>地理</th>
                    <th>历史</th>
                </tr>
                <tr>
                    <td>123</td><td>85</td><td>133</td><td>85</td><td>72</td><td>65</td><td>80</td><td>72</td><td>90</td>
                </tr>
                <tr>
                    <td>111</td><td>85</td><td>133</td><td>85</td><td>72</td><td>65</td><td>80</td><td>72</td><td>90</td>
                </tr>
                <tr>
                    <td>83</td><td>85</td><td>133</td><td>85</td><td>72</td><td>65</td><td>80</td><td>72</td><td>90</td>
                </tr>
                <tr>
                    <td>53</td><td>85</td><td>133</td><td>85</td><td>72</td><td>65</td><td>80</td><td>72</td><td>90</td>
                </tr>
            </table>
        </div>
        <div style="flex: 1;">
            <table class="table">
                <tr class="active">
                    <th>总计</th>
                </tr>
                <tr>
                    <td>彭于晏</td>
                </tr>
                <tr>
                    <td>阮经天</td>
                </tr>
                <tr>
                    <td>赵又廷</td>
                </tr>
                <tr>
                    <td>黄立行</td>
                </tr>
            </table>
        </div>
    </div>
</div>
