@{
    ViewBag.Title = "文件导入";
}
<style>
    .file {
		position: relative;
		display: inline-block;
		border: 1px solid #99D3F5;
		border-radius: 4px;
		overflow: hidden;
		color: #1E88C7;
		text-decoration: none;
		text-indent: 0;
		line-height: 20px;
	}
	.file input {
		position: absolute;
		font-size: 100px;
		right: 0;
		top: 0;
		opacity: 0;
	}
	.file:hover {
		border-color: #78C3F3;
		color: #004974;
		text-decoration: none;
	}
</style>

<h2>文件导入</h2>
<div class="container">
    <form method="post" class="form-inline" id="fileForm" enctype="multipart/form-data">
        <div class="form-group">
            <a class="btn file" style="width: 200px;">
                <i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;&nbsp;&nbsp;选择文件<input type="file" id="myfile" name="myfile"/>
            </a>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" onclick="pageJs.upload();">导入</button>
        </div>
        <div class="form-group">
            @*走后端下载文件名*@
            <a style="cursor: pointer;" onclick="pageJs.down('~/Temple/山王工业.xlsx', '没趣的阴雨密布.xlsx', 1);">下载模板</a>
            <a style="cursor: pointer;" onclick="pageJs.down('http://192.168.199.168:6030/jl/upload/79bbf945f75f42678936750fb32d3811.xlsx', '艳阳天的无可聊.xlsx', 0);">下载模板</a>
            @*属性修改下载文件名,只有谷歌和火狐浏览器支持*@
            <a href="~/Temple/山王工业.xlsx" download="我最可爱.xlsx">下载模板</a>
        </div>
    </form>
</div>
<br>
<div class="container">
    <table class="table">
        <tbody id="mytable"></tbody>
    </table>
</div>

<script>
    var pageJs = {
        upload: function() {
            if ($('#myfile')[0].files.length <= 0) {
                alert('未选择文件！');
                return false;
            }
            var checkFile = $('#myfile')[0].files[0];
            if (checkFile.name == "" || checkFile.size > 10000000 || checkFile.name.indexOf(".xls") <= 0) {
                alert('文件限制，必须小于10M的Excel文件！');
                return false;
            }
            //button的type="button",否则默认submit刷新页面
            $("#fileForm").ajaxSubmit({
                type: "POST",
                url: "/Home/ImportExcel",
                success: function (resouce) {
                    if (resouce.success) {
                        pageJs.fillTable(JSON.parse(resouce.data));
                    } else {
                        pageJs.msgTable(resouce.data);
                    }
                    return false;
                },
                error: function (result) {
                    alert(result.responseJSON.msg);
                }
            });
        },
        msgTable: function (list) {
            for (var i = 0; i < list.length; i++) {
                $("#mytable").append('<tr class="active"><th>' + (i+1) + '</th><th>' + list[i] + '</th></tr>');
            }
        },
        fillTable: function (list) {
            $("#mytable").html("");
            for (var i = 0; i < list.length; i++) {
                var obj = list[i];
                if (i < 1) {
                    var th = "<tr class='active'>";
                    for (var g in obj) {
                        if (obj.hasOwnProperty(g)) {
                            th += "<th>" + g + "</th>";
                        }
                    }
                    th += "</tr>";
                    $("#mytable").append(th);
                }
                var td = "<tr>";
                for (var j in obj) {
                    if (obj.hasOwnProperty(j)) {
                        td += "<td>" + (obj[j] == null ? "" : obj[j]) + "</td>";
                    }
                }
                td += "</tr>";
                $("#mytable").append(td);
            }
        },
        down: function (url, name, type) {
            window.location = "/Home/DownLoad?path=" + url + "&name=" + name + "&isLocal=" + (type === 1);

            //var form = $("<form></form>").attr("action", "http://localhost:60227/file/download").attr("method", "get");
            //form.append($("<input></input>").attr("type", "hidden").attr("name", "fileName").attr("value", name));
            //form.append($("<input></input>").attr("type", "hidden").attr("name", "url").attr("value", url));
            //form.appendTo('body').submit().remove();
        }
    }
</script>