@{
    ViewBag.Title = "行内列表";
}
<style>
    .lev1 {
        font-size: 12px;
        font-weight: bold;
        margin-left: 30px;
    }
    .lev2 {
        margin-left: 30px;
    }
    .price {
        margin-left: 10px;
    }
    .detail {
        margin-left: 10px;
        cursor: pointer;
        display: inline;
        color: cornflowerblue;
    }
    .dehide {
        border-radius: 2px;
        color: #000;
        position: absolute;
        width: 200px;
        height: 150px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
        background-color: #fff;
        margin-left: 280px;
        margin-top: -20px;
        box-sizing: border-box;
        padding: 20px;
        z-index: 22;
        display: none;
    }
    .dehide > span {
        display: block;
        font-size: 14px;
        height: 14px;
        line-height: 14px;
        margin-bottom: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .detail:hover .dehide{
        display: block;
    }
    .triangle{  
        border-top: 15px solid orange;
        border-right: 15px solid transparent;
        width: 15px;
        top: 0;
        left: 0;
        position: absolute;
    }
    .ul-line {
        padding: 0;
    }
    .ul-line > li {
        list-style: none;
        display: block;
        padding-left: 30px;
        height: 25px;
        line-height: 25px;
    }
    .ul-line > li > input[type=checkbox] {
        margin-top: -2px;
        margin-bottom: 1px;
        vertical-align: middle;
    }
    .ul-line > li > span {
        font-size: 12px;
        font-weight: 600;
        margin-left: 5px;
    }
    .ul-line > li > div {
        cursor: pointer;
        display: inline;
    }
    .ul-line > li > div > span {
        color: cornflowerblue;
    }
    .ul-price {
        border-radius: 2px;
        color: #000;
        position: absolute;
        width: 200px;
        height: 150px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
        background-color: #fff;
        margin-left: 240px;
        margin-top: -30px;
        box-sizing: border-box;
        padding: 20px 0;
        z-index: 22;
        display: none;
    }
    .ul-price li {
        display: block;
        font-size: 14px;
        height: 14px;
        line-height: 14px;
        margin-bottom: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-left: 20px;
    }

</style>
<h2>行内列表</h2>

<div class="container">
    <table class="table table-bordered" style="width: 750px;">
        <tr>
            <th>类型</th>
            <th>描述</th>
            <th>多选</th>
            <th>选择</th>
            <th>名称</th>
            <th>价格</th>
        </tr>
        <tbody>
        <tr>
            <td rowspan="1" style="position: relative;">
                产品
                <div class="triangle"></div>
            </td>
            <td rowspan="1">说明信息快速</td>
            <td rowspan="1"></td>
            <td><input type="checkbox" name="citem" onchange="tjs.ItemCheck(this);"/></td>
            <td>纽约2日游（单团）- 无购物（关联总团2274）</td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="4">主题项目</td>
            <td rowspan="4">说明信息测试</td>
            <td rowspan="4">4选2</td>
            <td><input type="checkbox" name="citem" onchange="tjs.ItemCheck(this);"/></td>
            <td>
                棕榈泉购物
                <ul class="ul-line">
                    <li>
                        <input type="checkbox"/>
                        <span>默认行程</span>
                    </li>
                    <li>
                        <input type="checkbox" />
                        <span>方案一</span>
                        <span>升级差价：￥50 起</span>
                        <div class="desDiv">
                            <span>价格详情</span>
                            <ul class="ul-price">
                                <li>同房第一人：￥20</li>
                                <li>同房第二人：￥20</li>
                                <li>附加费： ￥40</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" />
                        <span>方案二</span>
                        <span>升级差价：￥16 起</span>
                        <div class="desDiv">
                            <span>价格详情</span>
                            <ul class="ul-price">
                                <li>同房第一人：￥16</li>
                                <li>同房第二人：￥18</li>
                                <li>附加费： ￥80</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </td>
            <td></td>
        </tr>
        <tr>
            <td><input type="checkbox" name="citem" onchange="tjs.ItemCheck(this);"/></td>
            <td>好莱坞环球影城</td>
            <td></td>
        </tr>
        <tr>
            <td><input type="checkbox" name="citem" onchange="tjs.ItemCheck(this);"/></td>
            <td>迪士尼乐园一日游</td>
            <td></td>
        </tr>
        <tr>
            <td><input type="checkbox" name="citem" onchange="tjs.ItemCheck(this);"/></td>
            <td>洛杉矶市区游</td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="2">产品</td>
            <td rowspan="2"></td>
            <td rowspan="2">2选1</td>
            <td><input type="checkbox" name="citem" onchange="tjs.ItemCheck(this);"/></td>
            <td>
                杭州2日游
                <div name="list">
                    <div class="lev1">
                        <input type="checkbox"/>
                        <span>默认行程</span>
                    </div>
                    <div class="lev1">
                        <input type="checkbox"/>
                        <span>升级方案一</span>
                        <span class="price">升级差价：￥50 起</span>
                        <div class="detail">
                            价格详情
                            <div class="dehide">
                                <span>同房第一人： ￥20</span>
                                <span>同房第三人： ￥20</span>
                                <span>同房第四人： ￥20</span>
                                <span>单人房加收： ￥80</span>
                                <span>附加费： ￥40</span>
                            </div>
                        </div>
                        <div class="lev2">
                            <input type="checkbox"/>
                            <span>水上乐园</span>
                        </div>
                        <div class="lev2">
                            <input type="checkbox"/>
                            <span>农场采摘</span>
                        </div>
                        
                    </div>
                    <div class="lev1">
                        <input type="checkbox"/>
                        <span>升级方案二</span>
                        <span class="price">升级差价：￥100 起</span>
                        <div class="detail">
                            价格详情
                            <div class="dehide">
                                <span>同房第一人： ￥20</span>
                                <span>同房第三人： ￥20</span>
                                <span>同房第四人： ￥20</span>
                                <span>单人房加收： ￥80</span>
                                <span>附加费： ￥40</span>
                            </div>
                        </div>
                        <div class="lev2">
                            <input type="checkbox"/>
                            <span>湿地丛林</span>
                        </div>
                        <div class="lev2">
                            <input type="checkbox"/>
                            <span>游乐园</span>
                        </div>
                    </div>
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td><input type="checkbox" name="citem" onchange="tjs.ItemCheck(this);"/></td>
            <td>扬州2日游</td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    var tjs = {
        ItemCheck: function (ngy) {
            var $dix = $(ngy).parent().next().find('div[name=list]');
            if ($dix.length > 0) {
                $dix.find('div.lev1:first-child input').eq(0).prop('checked', $(ngy).prop('checked'));
            }
        }
    }
    $(function () {
        $(".ul-line > li > div > span").on("click", function (e) {
            //var e = window.event;
            //if (e && e.stopPropagation)
            //    e.stopPropagation();
            //else {
            //    window.event.cancelBubble = true;
            //}
            event.stopPropagation();
            $(".ul-line > li > div > ul").css("display", "none");
            $(this).parent().find('ul').css("display", "block");
        });
        $("body").click(function () {
            $(".ul-line > li > div > ul").css("display", "none");
        });
    });

</script>
